<% form_for :graffity, :url => member_profile_wall_graffities_path(@owner), :html => {:id=>'graffity_form'} do |f| -%>
    <fieldset>
      <div class="fields">
        <%= f.label :comment, I18n.t("tog_wall.model.graffity.comment.label"), :class => "hide" %>
        <%= f.text_area :comment, {:placeholder => I18n.t("tog_wall.model.graffity.comment.textarea"),
                                   :value => I18n.t("tog_wall.model.graffity.comment.textarea"), 
                                   :rows=>3, :cols=>40, :class=>"placeholder"} -%>
      </div>
    </fieldset>

    <div class="actions">
      <%= submit_tag I18n.t('tog_wall.views.member.graffities.form.share_graffity'), {:class => "button mainaction", :accesskey => "s"} %>
    </div>
<% end %>