<div id="like_resume_<%= graffity.id %>" class="small prepend-small">
  <div class="float_left">
    <%#= TODO icono de likes %>
 </div>
  <div>
    <div class="text">
      <span>
        <%= I18n.t("tog_wall.views.member.like_resume",
                   :count => likes.size, 
                   :noun => likes.size,
                   :name => link_to(likes.first.profile.full_name, profile_path(likes.first.profile),
                                    :title => likes.first.profile.full_name)) %>
      </span>
    </div>
  </div>
</div>